[submodule "packages/game"]
	path = packages/game
	url = git@github.com:adam-devel/spleef-game.git
[submodule "packages/protocol"]
	path = packages/protocol
	url = git@github.com:adam-devel/spleef-protocol.git
